# --- Core LangChain Ecosystem ---
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters

# --- Data & Document Loaders ---
pypdf
pymupdf
bs4
arxiv
wikipedia
unstructured
duckdb
pandas

# --- Embeddings & Vector DBs ---
chromadb
faiss-cpu
sentence_transformers

# --- APIs & Connectors ---
openai
huggingface_hub
mysql-connector-python
SQLAlchemy

# --- Utilities ---
python-dotenv
validators
numexpr
ipykernel

# --- Search & Media ---
duckduckgo_search
youtube_transcript_api
pytube
yt-dlp
gtts
streamlit
